.container {
    padding: 50px;
}

.navbar {
    background-color: #B7C4CF !important;
}

body {
    background-color: #EEE3CB;
}

article {
    margin-top: 30px;
}

.checked {
    color: #967E76;
}

img {
    width: 220px
}